extends layout

append head
    link(rel="stylesheet" href="/stylesheets/game-home-layout.css")
    script(src="/javascripts/index.js")

block content
    div
        img(src=game.imageSrc class="game-thumbnail")
    div
