extends layout

append head
    link(rel="stylesheet" href="/stylesheets/allGames.css")
    script(src="/javascripts/index.js" type="module" defer)
block content
    div.allGameBox
        h1.allGamesHeader All Games
        div
        each game in games
            div.games
                a.games(href=`/games/${game.id}`)
                    img(src=`${game.imageSrc}` class="gameThumbnail")
