extends layout

append head
    link(rel="stylesheet" href="/stylesheets/allGames.css")
    script(src="/javascripts/index.js" type="module" defer)
block content
    div.allGameBox
        h1.allGamesHeader All Games
        div.games
            each game in games
                div.game
                    a.games(href=`/games/${game.id}/reviews`)
                        img(src=`${game.imageSrc}` class="gameThumbnail")
