extends navbar

append head
    link(rel="stylesheet" href="/stylesheets/game-home-layout.css")
    script(src="/javascripts/index.js")

block content
    +errorReport(errors)

// thumbnail cover picture
div
    img(href=`` class="game-thumbnail")

// game info div
div
    div
        h2(class="game-title")
    div
        p(id="game-release-date")
    div
        p(id="game-publisher")
    div
        p(id="game-genre")
    div
        p(id="game-platform")
div
    div
        h4(class="description-header") Description
    div
        p(id="game-description")
// description div
    // description text

// -----------------------

// addToList dropdown
    // playing
    // want to play
    // played
// reviews form
    // "Post Review" button
    // username div
    // content div
