extends navbar

append head
    link(rel="stylesheet" href="/stylesheets/game-home-layout.css")
    script(src="/javascripts/index.js")

block content
    +errorReport(errors)



// navbar
// thumbnail cover picture
// game info div
    // title
    // release date
    // rating
    // publisher
    // genre
    // platform
// description div
    // description text
// addToList dropdown
    // playing
    // want to play
    // played
// reviews form
    // "Post Review" button
    // username div
    //
