extends layout

append head
    link(rel="stylesheet" href="/stylesheets/allGensPubs.css")
    script(src="/javascripts/index.js" type="module" defer)
block content
    body
        .genres-container
            .header
                h1.all__gens-pubsHeader All Genres
                    .genres-container__thumbnails
                        each genre in genres
                            div.all__gens-pubs
                                a.all__gens-pubs(href=`/genres/${genre.id}`) #{genre.genreName}
