extends layout

append head
    title #{genre.genreName} Games
    link(rel="stylesheet" href="/stylesheets/indivGenre.css")
    script(src="/javascripts/index.js" type="module" defer)

block content
    div.allGameBox
        h2.allGamesHeader #{genre.genreName} Games
        each game in games
            div
                a(href=`/games/${game.id}/reviews`)
                    img(src=`${game.imageSrc}` class="gameThumbnail")
