extends layout

append head
    link(rel="stylesheet" href="/stylesheets/indivGenre.css")
    script(src="/javascripts/index.js" type="module" defer)

block content
    div.indivGenreBox
        h2.indivGenreHeader #{games[0].Genre.genreName} Games
        each game in games
            div
                a(href=`/games/${game.id}`)
                    img(src=`${game.imageSrc}` class="gameThumbnail")
