doctype html
html
  head
    block head
      link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    .nav-container
      a(href='/')
        img.logo-img(src="/logo.png")
      .login-status
        if (locals.authenticated)
          p.logged-in-message Signed in as #{locals.user.username}
          img(src='/favicon.ico')#logged-in-icon
        else
          p.logged-in-message Not a member? Sign up below!
      .nav-container__contents
        .navbar-left
          a.nav-item.nav-link(href='/games') Games
          a.nav-item.nav-link(href='/genres') Genres
          a.nav-item.nav-link(href='/publishers') Publishers
        .search-container
            .search-input
              a(href="" target="_blank" hidden)
              input(type="text" placeholder="Search a Title...")
              .autocom-box
              .search-icon
                //- img(src="/search-icon.jpg") --imgbroken.
        .navbar-right
          if (!locals.authenticated)
            a.nav-item.nav-link(href='/users/login') Sign in
            a.nav-item.nav-link(href='/users/signup') Sign up
          if (locals.authenticated)
            a.nav-item.nav-link(href='/users/logout') Log Out
    script(src="/javascripts/suggestions.js")
    script(src="/javascripts/search-feat.js")
block content
