doctype html
html
  head
    block head
      title=title
      link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    block body
      append body
        nav.nav-container
          div
            a(href='/')
              img.logo-img(src="/logo.png")
            a.nav-item.nav-link(href='/games') Games
            a.nav-item.nav-link(href='/genres') Genres
            a.nav-item.nav-link(href='/publishers') Publishers
            div(class="navbar-right")
              a.nav-item.nav-link(href='/users/login') Log in
              a.nav-item.nav-link(href='/users/signup') Sign up
              a.nav-item.nav-link(href='/') Log Out
  block content
