doctype html
html
  head
    block head
      link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    .nav-container
      a(href='/')
        img.logo-img(src="/logo.png")
      .login-status
        if (locals.authenticated)
          p.logged-in-message Signed in as #{locals.user.username}
          img(src='/favicon.ico')#logged-in-icon
        else
          p.logged-in-message Not a member? Sign up below!
      .nav-container__contents
        .navbar-left
          if (locals.path === '/games')
            a.nav-item.nav-link.nav-link-active(href='/games') Games
          else
            a.nav-item.nav-link#games(href='/games') Games
          if (locals.path === '/genres')
            a.nav-item.nav-link.nav-link-active(href='/genres') Genres
          else
            a.nav-item.nav-link(href='/genres') Genres
          if (locals.path === '/publishers')
            a.nav-item.nav-link.nav-link-active(href='/publishers') Publishers
          else
            a.nav-item.nav-link(href='/publishers') Publishers
        .search-container
            .search-input
              a(href="" target="_blank" hidden)
              input(type="text" placeholder="Search a Title...")
              .autocom-box          
        .navbar-right
          if (!locals.authenticated)
            if (locals.path === '/login')
              a.nav-item.nav-link.nav-link-active(href='/users/login') Sign in
            else
              a.nav-item.nav-link(href='/users/login') Sign in
            if (locals.path ==='/signup')
              a.nav-item.nav-link.nav-link-active(href='/users/signup') Sign up
            else
              a.nav-item.nav-link(href='/users/signup') Sign up
          else
            a.nav-item.nav-link(href='/users/logout') Log Out
    script(src="/javascripts/suggestions.js")
    script(src="/javascripts/search-feat.js")
block content
