extends layout
append body
    nav.navbar
      a(href='/')
        img(src='../public/logo.png')
      a(href='/search') Search
      div 
        button.dropbtn Browse
          i.fa.fa-caret-down
        div
          a.nav-item.nav-link(href='/platforms') Platform
          a.nav-item.nav-link(href='/publishers') Publisher
          a.nav-item.nav-link(href='/genres') Genre 
      a.nav-item.nav-link(href='/login') Log in
      a.nav-item.nav-link(href='/') Log Out
      a.nav-item.nav-link(href='/signup') Sign up
block content