extends layout

append head
    link(rel="stylesheet" href="/stylesheets/allGensPubs.css")
    script(src="/javascripts/index.js" type="module" defer)
block content
    body
        .publishers-container
            div.header
                h1 All Publishers
            .publishers-container__thumbnails
                each publisher in publishers
                    div.all__gens-pubs
                        a(href=`/publishers/${publisher.id}`) #{publisher.publisherName}
