body {
    background-color: #293241ff;
    font-family: 'Nunito', Courier, monospace;
}

.publishers-container,
.genres-container {
    display: flex;
    position: absolute;
    top: 80px;
    width: 90vw;
    background-color: #293241ff;
    opacity: 90%;
    color: #E0FBFC;
    box-shadow: 5px 5px 10px 5px #111;
    margin-bottom: 40px;
    margin-top: 60px;
    margin-left: 90px;
}

div.all__gens-pubs {
    display: flex;
    position: relative;
    margin-left: 30px;
}
