div.allGameBox {
    margin: auto;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: 700;
    padding: 4px 8px;
    position: relative;
}

div.allGameBox {
    display: flex;
    background-color: #e0fbfcff;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-between;

}

a.games>img {
    max-width: 150px;
    height: auto;
    margin: 10px;
}

a.games>img.gameThumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534);
}
/*
h1.allgamesHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #3d5a80ff;
    font-size: 24px;
    padding: 30px;
    display:flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
}
 */



/*
@media screen and (min-width: 750px) and (max-width: 1280px) {
    .boards__board {
        width: 33%;
    }
}

@media screen and (min-width: 750px) {
    .boards__board {
        width: 100%;
        max-width: unset;
    }
} */
