body {
    background-color: #293241ff;
}

h1.allGamesHeader {
    color: #ee6c4dff;
    display: flex;
    justify-content: space-around;
    font-size: 5vh;
    margin: 2vh 0;
}

div.allGameBox {
    background-color: #293241ff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.games {
    position: relative;
    background-color: #293241ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-around;
    width: 70vw;
    gap: 1vh;
}

a.games>img {
    position: relative;
    max-width: 15rem;
    min-width: 15rem;
    background-color: rgb(21, 26, 34);
    max-height: 15rem;
    min-height: 15rem;
    object-fit: contain;
    margin: 10px;
    /* border-radius: 8px; */
    animation: transitionIn 1s;
    box-shadow: 0px 0px 0px 0px rgb(20, 20, 20);
    transition: color 0.3s, background-color 0.3s , box-shadow 0.3s, transform 0.3s;
}

a.games>img.gameThumbnail:hover {
    background-color: #ee6c4dff;
    box-shadow: -1px 1px 5px 5px rgb(20, 20, 20);
    transform: scale(1.07);
    transition: color 0.3s, background-color 0.3s , box-shadow 0.3s, transform 0.3s;
}

.allGamesHeader {
    display: flex;
    font-weight: bold;
    color: #ef8354 ;
    justify-content: space-around;
}

body {
    background-color: #293241ff;
}

@keyframes transitionIn {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}
