body {
  background-color: #293241ff;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.category-container h1 {
  padding: 20px;
  color: #ee6c4dff;
  font-weight:600;
  font-size: 5vh;
  margin: 2vh 0;
}

.category-container__thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 80vw;
  height: auto;
  justify-content: center;
  color: white;
}

.category__card {
  display: flex;
  background-color: rgb(21, 26, 34);
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  margin: 30px;
  box-shadow: 0px 0px 0px 0px rgb(20, 20, 20);
  transition: color 0.3s, background-color 0.3s , box-shadow .3s;
  animation: transitionIn 1s;
}

.category__card:hover {
  color: #293241ff;
  background-color: #ef8354;
  box-shadow: -1px 1px 5px 5px rgb(20, 20, 20);
  transition: color 0.3s, background-color 0.3s , box-shadow .3s;
}

.category__card h2 {
  width: 200px;
  height: 200px;
  font-size: 26px;
  font-weight: 600;
  display: inline-table;
  padding: 80px 0px;
}

.category__card a {
  text-decoration: none;
  text-align: center;
  font: small-caption;
}


@keyframes transitionIn {
  from {
      opacity: 0.0;
  }
  to {
      opacity: 1.0;
  }
}
