h1 {
    color: #555555;
}

body {
    background-color: #293241ff;
    font-family: 'Nunito', Courier, monospace;
}

.home-banner {
    display: flex;
    background-color: #293241ff;
    justify-content: space-around;
}

.landingWelcome {
    font-weight: bold;
    font-size: 3rem;
    padding-top: .5em;
    justify-content: space-around;
    color: #ef8354;
}

#subLogo1 {
    height: 100px;
    width: 100px;
    padding:10px;
    justify-content: space-around;
}

#subLogo2 {
    height: 100px;
    width: 100px;
    padding:10px;
    justify-content: space-around;
    transform: scaleX(-1);
}

.genreHomeTitle{
    font-weight: bold;
    font-size: 1.5rem;
    color: #293241ff ;
}

div.trendingBox {
    display: flex;
    justify-content: space-around;
    background-color: #3d5a80ff;
    max-height: 500px;
    padding: 10px;
    /* width:auto; */
    /* padding-bottom: 10px; */
}

.trendingBox__card {
    max-height: 450px;
    width: auto;
    /* margin: 0px 0px 10px 0px; */
}

a.trending-game>img{
    max-height: 450px;
    width: auto;
    margin: 10px;
    /* width: auto; */
    /* max-height: 350px; */
    /* width: 90%; */
    /* margin: 20px; */
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    /* transition: width 1s, height 1s, left 1s, margin 1s; */
}

a.trending-game>img:hover{
    /* box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.534); */
    /* width: 95%; */
    /* transition: 0.4s ease; */
    /* margin: -15px; */

}

.trend{
    padding: 10px;
    display:flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: space-between;
    background-color: #3d5a80ff;
    color: #e0fbfcff;
}

.genreBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #98c1d9ff;
}

div.all-genres > a{
    display: flex;
    position: static;
    margin-left: 30px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-table;
    border: lightgray;
}

/* Fade in Effect down here */

#trendingGame1 {
    animation: transitionIn 1s;
}

#trendingGame2 {
    animation: transitionIn 1.5s;
}

#trendingGame3 {
    animation: transitionIn 2s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.genre-hover {
    display: flex;
    position: static;
    margin-left: 30px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-table;
    border: lightgray;
    color: #293241ff;
}
.genre-hover:hover{
    background-color: #293241ff ;
    color: #e0fbfcff;
    transition: 0.4s ease;
    }
