h1 {
    color: #555555;
}

.landingWelcome {
    font-weight: bold;
    font-size: 3rem;
    padding-left: 1.5em;
    padding-top: .5em;
}

.genreHomeTitle{
    font-weight: bold;
    font-size: 1.5rem;
}

div.trendingBox{
    margin:5px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    width:auto;
}

a.trending-game>img{
    max-width: 350px;
    height:auto;
}

a.trending-game>img:hover{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.534);

}

h2.trend{
    padding: 10px;
    display:flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
}

.genreBox{
    display:flex;
    align-items: center;
    flex-direction: column;
}