h1 {
    color: #555555;
}

body {
    background-color: #e0fbfcff;
}

.landingWelcome {
    font-weight: bold;
    font-size: 3rem;
    padding-left: 1.5em;
    padding-top: .5em;
}

.genreHomeTitle{
    font-weight: bold;
    font-size: 1.5rem;
}

div.trendingBox{
    margin:5px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    width:auto;
}

a.trending-game>img{
    max-width: 350px;
    height:auto;
}

a.trending-game>img:hover{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.534);
    width: 98%;
    transition: 0.4s ease;

}

h2.trend{
    padding: 10px;
    display:flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
}

.genreBox{
    display:flex;
    align-items: center;
    flex-direction: column;
}



/* Fade in Effect down here */

#trendingGame1 {
    animation: transitionIn 1s;
}

#trendingGame2 {
    animation: transitionIn 1.5s;
}

#trendingGame3 {
    animation: transitionIn 2s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}