body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.nav-container{
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #ef8354 ;
}
.logo-img{
  height: 100px;
  width: 100px;
  margin-right: 200px;
  float:left;
  padding-left:10px;
}
.nav-item{
  display:inline-flex;
  padding: 14px 16px;
  background-color: #ef8354;
}
.nav-link{
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.nav-link:hover{
  background-color: #4f5d75 ;
  color: #ef8354;
}