body {
  padding: 50px;
  font: 14px "Nunito", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.nav-container{
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #ef8354 ;
}
.logo-img{
  height: 100px;
  width: 100px;
  margin-right: 200px;
  float:left;
  padding:10px;
}
.logo-img:hover{
  transition: 0.55s ease-in-out;
  background-color: #293241ff;
  transform: scaleX(-1);
}
.nav-item{
  display:inline-flex;
  padding: 14px 16px;
  background-color: #ef8354;
}
.nav-link{
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.nav-link:hover{
  background-color: #293241ff ;
  color: #ef8354;
  transition: 0.4s ease;
}

.form-container{
  box-sizing: border-box;
  border-radius: 5px;
  padding:20px;
}
.form-label,
.form-control{
  float: left;
  width: 75%;
  margin-top: 6px;
  color: #3d5a80ff
}

.form-control{
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signup-button{
  background-color: #2d3142;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 9px rgb(122, 122, 122);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  transition-duration: 0.4s;
}
.signup-button:hover{
  background-color: #4f5d75;
}
.signup-button:active{
  background-color: #4f5d75;
  box-shadow:0 9px rgb(122, 122, 122);
  transform: translateY(4px);
}
.signup-form-link>a{
  display:flex;
  margin-top:12px;
  padding: 14px 16px;
  text-align:center;
  text-decoration: none;
}
.signup-form-link>a:hover{
  color:blue;
}



.navbar-sameLine {
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
}
li.error{
  color:red;
  font-weight: bold;
}
.login-errors{
  box-sizing: border-box;
  margin:auto;
  width:350px;
  border-radius: 5px;
  padding:20px;
  display:flex;
  align-items:center;
  flex-direction:column;
}