body {
  background-color: #293241ff;
}

.page-container {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vmax;
}

.game-title h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ee6c4dff;
  font-weight: 600;
  font-size: 5vh;
  margin: 20px;
  text-align: center;
}

.game-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#background-image {
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-position: center;
  -webkit-filter: grayscale(0.7) blur(10px);
}

.game__container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
  width: 90vw;
  height: 75vh;
  background-color: #293241ff;
  opacity: 90%;
  color: #E0FBFC;
  box-shadow: 5px 5px 10px 5px #111;
  margin-bottom: 2vh;
}

.game__container-card {
  background-color: #293241ff;
  opacity: 100%;
  color: #E0FBFC;
  animation: transitionIn 0.5s;
}

.game__thumbnail-image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

#thumbnail-image {
  max-width: 30vw;
  min-width: 30vw;
  /* min-height: 30vw; */
  max-height: 30vw;
  object-fit: contain;
  margin: 20px;
  box-shadow: 5px 5px 10px 5px #111;
  opacity: 100%;
}

.game__container-text {
  background-color: #293241ff;
  opacity: 100%;
  color: #E0FBFC;
  animation: transitionIn 0.5s;
}

.game__info {
  margin: 20px;
  padding-bottom: 20px;
}

div.game__info-header {
  font-size: x-large;
}
.info-text {
  font-family: sans-serif;
  margin: 5px;
  border-bottom: 1px solid #293241ff;
}

.game-description {
  padding: 20px;
}
.game-description__header,
.game__info {
  padding: 20px;
  background: linear-gradient(0.5turn, rgb(49, 72, 102), #293241ff );
}

.reviews__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90vh;
  align-items: center;
  background-color: #293241ff;
  opacity: 90%;
  color: #E0FBFC;
  box-shadow: 5px 5px 10px 5px #111;
  padding: 20px;
  animation: transitionIn 0.5s;
}

.reviews__container > h1 {
  margin-bottom: 20px;
}

.reviews__rating-label {
  font-size: larger;
}

textarea {
  width: 600px;
  height: 150px;
}

.reviews__review-btn {
  float: right;
  background-color: #ef8354;
  border: none;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 2px 2px 2px #111;
  transition: background-color 0.3s, color 0.3s;
}
.reviews__review-btn:hover {
  color: white;
  background-color:rgb(9, 138, 9);
}

.reviews__reviewContainer {
  border-radius: 3px;
  padding: 10px 30px;
  margin: 40px;
  box-shadow: 5px 5px 10px 5px #111;
  width: 600px;
}

.reviews__rating {

}

.reviews__username {
  color: #ef8354;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#delete-review {
  float: right;
  background-color: darkgray;
  border: none;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 2px 2px 2px #111;
  transition: background-color 0.3s, color 0.3s;
}
#delete-review:hover {
  color: white;
  background-color: rgb(170, 0, 0);
}

#rating-icon {
  width: 20px;
  height: auto;
}
#rating-icon-span {
  padding-left: 5px;

}

.rating-text {
  text-align: left;
}

@keyframes transitionIn {
  from {
      opacity: 0.0;
  }
  to {
      opacity: 1.0;
  }
}
