.page-container {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
}

#background-image {
    width: 100vw;
    position: fixed;
    filter: blur(8px) grayscale(50%);
    background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    }
}