body{
    background-color: #293241ff;
}

.page-container {
    position: relative;
}

.signup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#signup-background__image{
    width: 100vw;
    position: fixed;
    filter: blur(10px) grayscale(60%);
    background: {
        repeat: no-repeat;
        size: cover;
        position: center;
    }
}

.form-container{
    z-index: 1;
    box-sizing: border-box;
    margin:auto;
    margin-top:120px;
    margin-bottom: 40px;
    padding:20px;
    width: 350px;
    background-color:#e0fbfcff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
}

/* .game__container {
    display: flex;
    top: 80px;
    background-color: #293241ff;
    opacity: 90%;
    color: #E0FBFC;
    box-shadow: 5px 5px 10px 5px #111;
  } */

label.login-label{
    width: 75%;
    margin-top: 6px;
    color: #3d5a80ff;
}
.signup-link{
    color:#ee6c4dff;
    font-size: medium;
}
.signup-link:hover{
    color:#3d5a80ff;
}
